.left-bar{
  top: 0;
  position: fixed;
  width: 100px;
  height: 100%;
  border-right: 2px solid white;
  background-color: #59913B;
  z-index: 2;
}
.icon{
  position: fixed;
  top: 5px;
  left: 18px;
}
.icon-back{
  position: fixed;
  width: 100px;
  left:0;
  top: 0;
  height: 11.3%;
  border-bottom: 2px solid white;
}
.history{
  position: fixed;
  top: 100px;
  left: 24px;
  cursor: pointer;
}
.settings{
  position: fixed;
  top: 180px;
  left: 24px;
  cursor: pointer;
}
.phone{
  position: fixed;
  top: 260px;
  left: 24px;
  cursor: pointer;
}
.zar{
  position: fixed;
  top: 340px;
  left: 24px;
  cursor: pointer;
}
