.Input{
    width: 300px!important;
    font-weight: 300!important;
    position: relative!important;
}
.plant-button{
    left: 8%;
    color: white!important;
    background-color:#76b852!important;
    font-weight: 500!important;
}
.plant-button:hover{
    background: #538637!important;
}
.mainInput{
  margin-bottom: 30px;
    position: relative!important;
    border-top: solid 2px #E6ECF5;
    left: 0;
    width: 430px;
    padding-left: 100px;
    padding-right: 65px;
}
