@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
.login-page {
  position: relative;
  top: 50px;
  height: 400px;
  width: 1000px;
  padding: 8% 0 0;
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
}
.form {
  top: -60px;
  position: relative;
  max-width: 360px;
  margin-left: 500px;
  padding: 45px;
  left: 50px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #e6e6e6;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: solid 1px #d5dde7;
}
.form input:focus{
  border: 1px solid blue;
}
.form button {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #76b852;
  width: 100%;
  border: 0;
  padding: 12px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #d64d4d;
}
.form .message {
  margin: 20px 10px 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #b3b3b3;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.welcome-div {
  position: absolute;
  top: 50px;
  width: 1000px;
  height: 500px;
}
.welcome-p {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 12.5%;
  color: #d64d4d;
}
.info-p {
  position: absolute;
  top: 30%;
  left: 8.5%;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  max-width: 400px;
  color: #666666;
}
.relog-link {
  cursor: pointer!important;
  color: #d64d4d!important;
  margin-left:10px!important;
}
.fb{
  background-color: #3b5998!important;
}
.fb:hover,
.fb:active,
.fb:focus{
  background-color: #d64d4d!important;
}
.login-form p{
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
  margin-left:163px; 
}
.login-link{
  text-decoration: none!important;
  color: red;
  cursor: pointer;
}
.direct-login{
  margin-left: 142px!important;
  margin: 12px;
  font-size: 16px;
}
.direct-login-button{
  background-color: #3b5998!important;
}
.direct-login-button:hover{
  background-color: #d64d4d!important;
}
.veya{
  margin:10px;
  position: relative;
}