@import url('https://fonts.googleapis.com/css?family=Inconsolata|Poiret+One|Titillium+Web');
.liste{
  z-index: 2;
  top: 123px;
  position: fixed;
  width: 20%;
  height: 83%;
  color: white;
  font-family: "Raleway", sans-serif;
  overflow: scroll;
  float: left;
}
.liste p{
  margin: 20px;
  margin-left: 30px;
  font-size: 18px;
}
.filozof-içerik{
  padding: 20px;
  width: 80%;
  float: right;
  position: relative;
  top: 120px;
  height: auto;
  color: white;

}
.bg{
  margin-left: 30px;
  padding-bottom: 50px;
}