@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.Content{
    width: fit-content;
    max-width: 800px;
    color: #5B5D6E;
    height: 310px;
    position: relative;
    left: 10%;
    top: 130px;
    font-family: 'Montserrat', sans-serif!important;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #D5DDE7;
    border-radius: 5px;
}
.içerik{
    padding: 25px;
    font-size: 23px;
    font-family: 'PT Sans Narrow', sans-serif!important;
    font-weight: 500;
}
.kategoriler{
    position: relative;
    color: purple;
    left: 200px;
    padding-left: 100px;
    font-size: 12px;
}
