@import url("https://fonts.googleapis.com/css?family=Dosis");
.Kategoriler {
  position: absolute;
  color: #535566;
  font-size: 17px;
  top: 150px;
  left: 74%;
  height: auto;
  border: solid 1px #d5dde7;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  width: 300px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.95;
  text-align: center;
}
.ka {
  text-decoration: none;
  font-size: 15px;
  color: #535566;
}

.kategori a {
  display: block;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  border-top: solid 1px #e6ecf5;
  padding-bottom: 10px;
  padding-top: 10px;
}
.kategori a:hover {
  background: rgba(0, 0, 0, 0.05);
}

.kategori-title {
  padding: 10px;
  padding-left: 20px;
  font-weight: bold;
}
