@import url('https://fonts.googleapis.com/css?family=Montserrat');
.kart{
    width: fit-content;
    max-width: 640px;
    color: white;
    height: auto;
    position: relative;
    left: 16%;
    top: 90px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif!important;
}
.answer{
    padding-left: 100px!important;
    color:#808080!important;
    padding: 30px;
    border: solid 1px #D5DDE7;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px!important;
}
.answers-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    left: 220px;
    position: relative;
    padding-top: 30px;
    height: 10px;
    font-weight: 100;
    color: #c4dcc6;
}
.answer-nick{
    position: relative;
    left: 120px;
    top:0px;
    color: purple;
}
.answer-date{
    position: relative;
    left: 102px;
    top:0px;
    color: #008000;
}
.seed{
    position:relative;
    font-size: 35px;
    color: #76b852;
    top: 25px;
}
.arrow-up {
    position: relative;
    top: 15px;
    left: 17px;
}
.arrow-down{
    position: relative;
    top: 110px;
    left: -17px;
}
.answers-stats{
    position: absolute;
    width: 70px;
    left: 35px;
    height: 160px;
    top: 31px;
    border-right: solid 1px #D5DDE7;
    background-color: #ffffff;
    text-align: center;
}
